@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Visitor!</h1>

<p>Welcome to my Blazor Web App hosted on Azure.</p>

<p>Blazor University is a good resource to learn Blazor from on the Internet</p>

<p>https://blazor-university.com/</p>